body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
}

a {
}

a:hover,
a:focus {
  text-decoration: underline; /* Add underline on hover for accessibility */
}
button {
  border: none;
}
button:hover {
  color: blue;
}

.game-container {
  pointer-events: none;
}
