body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}
button {
  border: none;
}
button:hover {
  color: blue;
}

.game-container {
  pointer-events: none;
  padding: 4rem;
  border: 2px solid #305069;
}

button {
  font-family: sans-serif;
  background-color: #305069;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
