.intro-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000000;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0f212e;
  color: #ffffff;
}

.deck {
  position: absolute;
  top: -5rem;
  right: 5%;
  z-index: 100;
}

.dealer-area,
.player-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

#deal-btn {
  grid-column: span 2;
}

.dealer-cards,
.player-cards {
  display: flex;
  gap: 0.5rem;
  height: 11rem;
}

img {
  height: 10rem;
}

.dealer-total,
.player-total {
  height: 1.5rem;
}

.card-wrapper {
  position: relative;

  width: fit-content;
  height: 10rem;
  transform-style: preserve-3d;
  animation: dealAndFlip 2s ease-in forwards;
  perspective: 200px;
}

.card-back,
.card-front {
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
}

.card-front {
  display: block;
  transform: rotateY(180deg);
}

.hidden-card {
  animation: dealNoFlip 0.8s ease-out forwards;
}

.hidden-card.reveal {
  animation: flipCard 0.6s forwards;
}

/* Normal animation: deal from deck face-down, then flip to face-up */
@keyframes dealAndFlip {
  0% {
    transform: translate(30vw, -20vh) rotateY(0deg);
  }

  50% {
    transform: translate(0, 0) rotateY(-180deg);
  }

  100% {
    transform: translate(0, 0) rotateY(-180deg);
  }
}

/* Hidden dealer card: deal from deck and stay face-down */
@keyframes dealNoFlip {
  from {
    transform: translate(30vw, -20vh);
  }
  to {
    transform: translate(0, 0);
  }
}

/* Flip animation for revealing hidden card */
@keyframes flipCard {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
